body {
  font-family: 'Outfit', sans-serif;
}

.App {
  text-align: start;
}

header {
  background-color: whitesmoke;
}

h1 {
  margin: 15px 25px;
  padding: 10px;
}

.fields {
  margin: 10px;
  padding: 10px;
}

.buttons {
  margin: 10px;
  padding: 10px;
}

label {
  margin: 10px;
  padding: 10px;
  text-align: left;
}

input {
  margin: 15px 20px;
  width: 300px;
  border-top: none;  
  border-left: none;
  border-right: none;
  background-color: whitesmoke;
}

button {
  margin: 15px 20px;
}
